body{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgb(40, 42, 54);
}

.botao{
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  background-color: rgb(56, 107, 27);
  font-size: .9em;
  border-radius: 3px;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(56, 107, 27);
}

nav > a{
  text-decoration: none;
  font-weight: 800;
  color: white;
  font-size: 32px;
}

nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 100%;
}

nav ul il{
  text-align: center;
  width: 100%;
}

.links{
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: white;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/p7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  padding: 20px;
}

header h1{
  color: white;
}

header p{
  margin-bottom: 2em;
}

#sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(56, 107, 27);
}

#sobre h2{
  color: white;
}

#sobre p{
  margin-bottom: 2.5em;
  max-width: 1000px;
}

#sobre .botao{
  background-color: #f1f1f1;
  color: #1c1c1c;
}

#servicos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#servicos div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

#fotos{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  text-align: center;
}

#fotos h2{
  margin-bottom: 20px;
}


#fotos img{
  width: 33%;
}


#contato{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: rgb(166, 166, 166);
  color: black;
}



footer{
  text-align: center;
  padding: 10px;
  background-color: rgb(166, 166, 166);
  color: black;
}

footer a{
  text-decoration: none;
  color: rgb(56, 107, 27);
}

@media screen and(min-width: 768) {
  nav{
    flex-direction: row;
    justify-content: space-around;

  }
  nav ul{
    flex-direction: row;
    width: 70%;
    
  }

  header{
    height: 600px;
    height: 60vh;
    justify-content: center;

  }

  #sobre{
    height: 250px;
    height: 30vh;
    justify-content: center;
    min-height: 250px;
  }

  #servicos{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;

  }

  #servicos h2{
    text-align: center;
    width: 100%;

  }
  
  #servicos div{
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
  }

  #fotos{
    flex-direction: row;
    flex-wrap: wrap;
  }

  #fotos h2{
    width: 100%;
    text-align: center;
  }

  #fotos img{
    width: 33.333%;
  }


  #contato{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
  }

  #contato h2, #contato p{
    width: 100%;

  }
}